:root {
    --white: #fff;
    --black: #171717;
    --bg-color: #1c1c1e;
    --light-white: #999;
    --box-shadow: 0 .5rem 1rem #000;
    --border: .1rem solid rgba(255, 255, 255, .1);
    --gradient: linear-gradient(65deg, deeppink, coral);
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;

}

*::selection {
    background: var(--white);
    color: var(--black);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background: var(--white);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    background: var(--black);
    padding-bottom: 8rem;
}

section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    background: var(--gradient);
    color: var(--white);
    border-radius: 5rem;
    transition: .3s linear;
}
.btn:hover{
    background: var(--white);
    color: var(--black);
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-color);
    border-bottom: var(--border);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.header .flex .logo {
    font-size: 2rem;
    color: var(--white);
}

.header .flex .logo i {
    margin-right: .5rem;
    color: coral;
}

.header .flex .btn{
    margin-top: 0;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 2rem;
    left: 0;
    right: 0;
    z-index: 5;

}
.navbar .nav{
    padding: 1rem;
    background-color: var(--bg-color);
    border: var(--border);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap: 1rem;
    border-radius: .5rem;
}

.navbar .nav a{
    font-size: 1.7rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    transition: .2s linear;
    color: var(--white);
}

.navbar .nav a:hover{
    background: var(--gradient);
}

.navbar .nav a:hover span{
    color: var(--white);
}

.navbar .nav a i{
    display: none;
}

.home .flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.home .flex .image::before{
    content: ' ';
    position: absolute;
    top: 0; left:0;
    height: 30rem;
    width: 5rem;
    background: var(--gradient);
    animation: animate1 4s cubic-bezier(.29,1,.26,1.12) infinite;
}

.home .flex .image::after{
    content: ' ';
    position: absolute;
    bottom: 0; right:0;
    height: 30rem;
    width: 5rem;
    background: var(--gradient);
    animation: animate2 4s cubic-bezier(.29,1,.26,1.12) infinite;
}

@keyframes animate1{
    0%, 100%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(100%);
    }
}
@keyframes animate2{
    0%, 100%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-100%);
    }
}

.home .flex .image{
    z-index: -5;
    flex: 1 1 30rem;
    position:  relative;
    overflow: visible;
}

.home .flex .image img{
    width: 100%;
    height: 50rem;
    object-fit: contain;
}

.home .flex .content{
    flex: 1 1 50rem;
}

.home .flex .content h3{
    font-size: 3rem;
    color: var(--white);
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.home .flex .content p {
    line-height: 1.8rem;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--light-white);
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit  , 35rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;

}

.services .box-container .box{
    text-align: center;
    padding: 2.5rem 2rem;
    background-color: var(--bg-color);
}
.services .box-container .box i{
    font-size: 3.5rem;
    background: var(--gradient);
    background-clip: text;
    color: transparent;
    margin-bottom: 1rem;
}
.services .box-container .box h3{
    font-size: 2rem;
    margin: .5rem 0;
    color: var(--white);
}

.services .box-container .box p{
    line-height: 1.8;
    font-size: 1.4rem;
    color: var(--light-white);
    padding:1rem 0;
}

.about {
    background: var(--bg-color);
}

.about .flex{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap-reverse;
}

.about .flex .content{
    flex: 1 1 40rem;
}

.about .flex .image{
    flex: 1 1 40rem;
}
.about .flex .image img{
    width: 100%;
    height: 50rem;
    object-fit: contain;
}

.about .flex .content h3{
    font-size: 3rem;
    color: var(--white);
    margin-bottom: .5rem;
}

.about .flex .content p{
    font-size: 1.6rem;
    color: var(--light-white);
    padding: 1rem 0;
}


.reviews .flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.reviews .flex .content{
    flex:  1 1 40rem;
}
.reviews .flex .content h3{
    font-size: 3rem ;
    color: var(--white);
    margin-bottom: .5rem;
}

.reviews .flex .content p{
    line-height: 1.8;
    font-size: 1.6rem;
    color: var(--light-white);
    padding: 1rem 0;
}

.reviews .flex .content .controls{
    margin-top: .5rem;
    display: flex;
    gap: 1rem;
}

.reviews .flex .content .controls div{
    height: 5rem;
    line-height: 4.9rem;
    font-size: 2.5rem;
    color: var(--white);
    background: var(--bg-color);
    text-align: center;
    width: 5rem;
}

.reviews .flex .content .controls div:hover{
    background: var(--gradient);
}

.reviews .flex .slide-container{
    flex: 1 1 40rem;
    perspective: 1000px;
}

.reviews .flex .slide-container .slide{
    background: var(--bg-color);
    padding: 2.5rem; 
    display: none;
    animation: slide .2s linear;
    transform-style: preserve-3d;
}

@keyframes slide {
    0%{
        transform: rotateX(180deg);
    }
}

.reviews .flex .slide-container .slide > *{
    animation: slideContent .2s linear .2s backwards;
}

@keyframes slideContent {
    0%{
        opacity: 0;
        transform: scale(.5);
    }
}

.reviews .flex .slide-container .slide.active{
    display: block;
}

.reviews .flex .slide-container .slide .text{
    font-size: 1.6rem;
    color: var(--light-white);
    line-height: 1.8;
}
.reviews .flex .slide-container .slide .user{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-top: 1.5rem;
    border-top: var(--border);
}

.reviews .flex .slide-container .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;

}
.reviews .flex .slide-container .slide .user h3{
    font-size: 2rem;
    color: var(--white);
}
.reviews .flex .slide-container .slide .user .stars{
    margin-top: .5rem;
}

.reviews .flex .slide-container .slide .user .stars i{
    color: coral;
    font-size: 1.5rem;
}

.reviews .flex .slide-container .slide .user .fa-quote-right{
    font-size: 4rem;
    color: transparent;
    background: var(--gradient);
    background-clip: text;
    margin-left: auto;
}

.download .flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.download .flex .images{
    flex: 1 1 40rem;
}
.download .flex .images img{
    width: 100%;
    height: 50rem;
    object-fit: contain;
}
.download .flex .content{
    flex: 1 1 40rem;
}
.download .flex .content h3{

    font-size: 3rem;
    color: var(--white);
    margin-bottom: 0.5rem;
}

.download .flex .content p{
    line-break: 1.8;
    font-size: 1.6rem;
    color: var(--light-white);
    padding: .5rem 0;
}


.download .flex .content .links{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.download .flex .content a{
    padding:  1rem 2rem;
    font-size: 1.8rem;
    border-radius: .5rem;
}

.download .flex .content a i{
    margin-right: .5rem;
}

.download .flex .content a:first-child{
    background-color: var(--white);
    color: var(--black);
}
.download .flex .content a:first-child:hover{
    background: var(--gradient);
}
.download .flex .content a:last-child:hover{
    background: var(--gradient);
    border: transparent;
}

.download .flex .content a:last-child{
    background-color: var(--bg-color);
    color: var(--white);
    border: var(--border);
}

.pricing .toggle-buttons{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 3rem;

}

.pricing .toggle-buttons .button{
    padding: 1rem;
    width: 15rem;
    font-size: 1.8rem;
    color: var(--white);
    border-radius: .5rem;
    background: var(--bg-color);
    text-align: center;
    cursor: pointer;
}
.pricing .toggle-buttons .button.active,
.pricing .toggle-buttons .button:hover{
    background: var(--gradient);
}

.pricing .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.pricing .box-container .box{
    padding: 2rem 2.5rem;
    background-color: var(--bg-color);
    border-radius: .5rem;
}

.pricing .box-container .box h3{
    font-size: 1.8rem;
    color: var(--white);
    margin-bottom: .5rem;
}
.pricing .box-container .box .price {
    /* margin:  1rem 0; */
    margin-bottom: 1rem;
    animation: price .2s linear;
    transform-origin: top;
}
@keyframes price{
    0%{
        opacity: 5;
        transform: scaleY(.5);
    }
}

.pricing .box-container .box .price span:first-child{
    color: coral;
    font-size: 2.5rem;
    font-weight: 600;
}

.pricing .box-container .box .price span:last-child{
    font-size: 1.5rem;
    color: var(--light-white);
}

.pricing .box-container .box .price.year{
    display: none;
}


.pricing .box-container .box .list p{
    padding:  1rem 0;
    font-size: 1.6rem;
}

.pricing .box-container .box .list{
    margin-top: 1rem;
    padding: .5rem 0;
    border-top: var(--border);
}
.pricing .box-container .box .list p{
    padding: 1rem 0;
    font-size: 1.6rem;
}


.pricing .box-container .box .list p i{
    margin-right: 1rem;
}

.pricing .box-container .box .list p .fa-circle-check{
    color: limegreen;
}

.pricing .box-container .box .list p .fa-circle-xmark{
    color: tomato;
}

.pricing .box-container .box .list p{
    color: var(--light-white);
}

.pricing .box-container .box .btn{
    width: 100%;
    text-align: center;
    border-radius: .5rem;
}

.pricing .box-container .box:nth-child(2){
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.newsletter{
    background: var(--bg-color);

}

.newsletter .news{
    text-align: center;
}

.newsletter .news h3{
    color: var(--white);
    padding-top: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
}

.newsletter .news p{
    line-height: 1.8;
    font-size: 1.6rem;
    color:var(--light-white);
    max-width: 50rem;
    margin: 1rem auto;
}

.newsletter .news form{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;
}

.newsletter .news form .input{
    margin-bottom: 1.5rem;
    border-radius: 5rem;
    padding: 1.2rem 1.5rem;
    font-size: 1.8rem;
    color: var(--white);
    border: var(--border);
    background-color: var(--black);
    width: 30rem;
    text-transform: none;
}
.newsletter .news form .input::placeholder{
    text-transform: uppercase;
}
.newsletter .news form .btn{
    margin-top: 0;
}



.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 27rem);
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;

}

.footer .box-container .box h3{
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.footer .box-container .box a{
    font-size: 1.6rem;
    color: var(--light-white);
    display: block;
    padding: 1rem 0;
}



.footer .box-container .box a i{
    color: coral;
    margin-right: .5rem;

}

.footer .box-container .box a:hover{
    color: var(--white);
    text-decoration: underline;
}

.footer .credit{
    padding: 3rem 2rem;
    font-size: 2rem;
    border-top: var(--border);
    text-align: center;
    color: var(--light-white);
}

.footer .credit span{
    color: coral;
}






















 /* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
}

@media (max-width:760px){

    body{
        padding-bottom: 7rem;
    }

    .navbar{
        bottom:  0;
    }

    .navbar .nav{
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-radius: none;
        padding: .5rem;
        width: 100%;
    }

    .navbar .nav a{
        padding: .5rem;
    }

    .navbar .nav a span{
        font-size: 1.5rem;
    }

    .navbar .nav a i{
        display: block;
        font-size: 2.5rem;
        margin-bottom: .5rem;
    }

    .navbar .nav a:hover{
        background: none;
    }
    .navbar .nav a:hover span{
        color: coral;
    }
    .home .flex .content h3{
        font-size: 2.5rem;
    }

    .download .flex .content h3{
        font-size: 2rem;
    }
    .download .flex .content a{
        text-align: center;
        width: 100%;
    }
    .newsletter .news .form .input{
        width: 100%;
    }

}


@media (max-width:450px){

    html{
        font-size: 50%;
    }
}
